absl-py @ file:///croot/absl-py_1714140470852/work
adal==1.2.7
aiodns @ file:///croot/aiodns_1756292939355/work
aiofiles==25.1.0
aiohappyeyeballs @ file:///croot/aiohappyeyeballs_1755769838153/work
aiohttp @ file:///croot/aiohttp_1756374103858/work
aiosignal @ file:///croot/aiosignal_1755870803324/work
akracer==0.0.14
akshare==1.18.64
alembic @ file:///home/task_176051939397501/conda-bld/alembic_1760520174977/work
aniso8601==10.0.1
annotated-doc==0.0.4
annotated-types==0.7.0
ansible==8.7.0
ansible-compat==25.1.4
ansible-core==2.15.13
ansible-lint==25.2.0
ansible-pylibssh==1.3.0
anyio==4.12.1
appdirs==1.4.4
argcomplete==3.6.3
argon2-cffi @ file:///opt/conda/conda-bld/argon2-cffi_1645000214183/work
argon2-cffi-bindings @ file:///home/task_175792493437065/conda-bld/argon2-cffi-bindings_1757924978114/work
arrow==1.4.0
asttokens @ file:///croot/asttokens_1743630435401/work
astunparse==1.6.3
async-lru @ file:///home/task_176112146506028/conda-bld/async-lru_1761121512028/work
async-timeout @ file:///croot/async-timeout_1732661977001/work
attrs==25.4.0
azure-common==1.1.28
azure-core==1.36.0
azure-graphrbac==0.61.2
azure-mgmt-authorization==4.0.0
azure-mgmt-containerregistry==13.0.0
azure-mgmt-core==1.6.0
azure-mgmt-keyvault==11.0.0
azure-mgmt-network==29.0.0
azure-mgmt-resource==24.0.0
azure-mgmt-storage==23.0.0
azureml-core==1.60.0.post1
babel @ file:///croot/babel_1737454360933/work
backoff==2.2.1
backports.tempfile==1.0
backports.weakref==1.0.post1
bcrypt==5.0.0
beautifulsoup4 @ file:///croot/beautifulsoup4-split_1756453090369/work
black==25.1.0
bleach @ file:///croot/bleach_1732290411627/work
blinker @ file:///croot/blinker_1737448726027/work
boto3==1.40.59
botocore==1.40.59
Bottleneck @ file:///croot/bottleneck_1731058641041/work
bracex==2.5.post1
breadability==0.1.20
brotli==1.2.0
brotlicffi @ file:///croot/brotlicffi_1736182461069/work
bs4==0.0.2
build==1.5.1
cachetools @ file:///croot/cachetools_1738224668060/work
certifi==2026.1.4
cffi==2.0.0
cfgv==3.4.0
chardet==5.2.0
charset-normalizer==3.4.4
click==8.1.8
cloudpickle @ file:///croot/cloudpickle_1751309439603/work
colorama==0.4.6
comm @ file:///croot/comm_1709322850197/work
configparser==5.0.2
contextlib2==21.6.0
contourpy @ file:///croot/contourpy_1732540045555/work
cryptography==46.0.3
cssselect2==0.9.0
curl_cffi==0.15.0
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
Cython==3.1.6
dacite==1.6.0
dagshub==0.6.3
dagshub-annotation-converter==0.1.15
databricks-sdk @ file:///home/task_175741336976770/conda-bld/databricks-sdk_1757413951734/work
dataclasses-json==0.6.7
debugpy @ file:///home/task_175706711740264/conda-bld/debugpy_1757067131873/work
decorator @ file:///home/task_175734097812358/conda-bld/decorator_1757341231906/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
distlib==0.4.0
distro==1.9.0
docker @ file:///croot/docker-py_1731594427906/work
docopt==0.6.2
durationpy==0.10
et_xmlfile==2.0.0
exceptiongroup==1.3.1
executing @ file:///home/task_175706097762404/conda-bld/executing_1757061230060/work
fastapi==0.120.0
fastjsonschema @ file:///croot/python-fastjsonschema_1731939362158/work
ffn==1.1.5
filelock==3.18.0
flasgger==0.9.7.1
Flask @ file:///croot/flask_1756453126864/work
flask-cors==6.0.2
Flask-HTTPAuth==4.8.0
flask-restx==1.3.2
flatbuffers @ file:///croot/python-flatbuffers_1722369094438/work
fonttools @ file:///home/task_175975444451365/conda-bld/fonttools_1759754870571/work
fqdn==1.5.1
frozenlist @ file:///home/task_176106151538220/conda-bld/frozenlist_1761062012686/work
future==1.0.0
futures==3.0.5
gast @ file:///croot/gast_1752670701094/work
gdown==5.2.0
gitdb @ file:///croot/gitdb_1753362118172/work
GitPython @ file:///home/task_176129058339527/conda-bld/gitpython_1761291256038/work
gmpy2 @ file:///croot/gmpy2_1738085463648/work
google-api-core==2.27.0
google-auth==2.55.1
google-cloud-core==2.4.3
google-cloud-storage==3.4.1
google-crc32c==1.7.1
google-genai==2.10.0
google-pasta @ file:///Users/ktietz/demo/mc3/conda-bld/google-pasta_1630577991354/work
google-resumable-media==2.7.2
googleapis-common-protos==1.71.0
gql==4.0.0
graphene @ file:///home/task_175941348744363/conda-bld/graphene_1759413610497/work
graphql-core @ file:///croot/graphql-core_1742237974949/work
graphql-relay @ file:///croot/graphql-relay_1742250885711/work
greenlet @ file:///home/task_175740546600944/conda-bld/greenlet_1757405511458/work
grpcio @ file:///croot/grpc-split_1742490263735/work
gunicorn @ file:///croot/gunicorn_1744295956374/work
h11 @ file:///croot/h11_1748442006460/work
h2o==3.46.0.8
h5py @ file:///croot/h5py_1750862990877/work
html5lib==1.1
httpcore @ file:///croot/httpcore_1748526048470/work
httpx @ file:///home/task_176044729065927/conda-bld/httpx_1760447346377/work
huaweicloudsdkcce==3.0.50
huaweicloudsdkcore==3.0.50
huaweicloudsdkecs==3.0.50
huaweicloudsdkevs==3.0.50
huaweicloudsdkvpc==3.0.50
huey==3.0.3
humanfriendly==10.0
icdiff==1.9.1
identify==2.6.15
idna==3.11
importlib-resources==5.0.7
importlib_metadata==8.7.0
influxdb==5.3.2
invoke==2.2.1
ipykernel @ file:///home/task_175758317055216/conda-bld/ipykernel_1757583366251/work
ipython @ file:///croot/ipython_1734548052611/work
ipython_pygments_lexers @ file:///croot/ipython_pygments_lexers_1744753235686/work
ipywidgets @ file:///croot/ipywidgets_1733504575802/work
isodate==0.7.2
isoduration==20.11.0
itsdangerous @ file:///croot/itsdangerous_1716533337253/work
jedi @ file:///croot/jedi_1733987392413/work
jeepney==0.9.0
Jinja2 @ file:///croot/jinja2_1741710844255/work
jiter==0.16.0
jmespath==1.0.1
joblib @ file:///home/task_175792628915440/conda-bld/joblib_1757926346336/work
jsnapy==1.3.8
json5 @ file:///croot/json5_1730786798687/work
jsonpath==0.82.2
jsonpickle==4.1.1
jsonpointer==3.0.0
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
junos-eznc==2.7.5
jupyter @ file:///croot/jupyter_1737645803214/work
jupyter-console @ file:///croot/jupyter_console_1679999630278/work
jupyter-events @ file:///croot/jupyter_events_1741184577592/work
jupyter-lsp @ file:///croot/jupyter-lsp-meta_1745827015155/work
jupyter_client @ file:///croot/jupyter_client_1737570961872/work
jupyter_core @ file:///croot/jupyter_core_1751991368470/work
jupyter_server @ file:///croot/jupyter_server_1751996616172/work
jupyter_server_terminals @ file:///croot/jupyter_server_terminals_1744706698694/work
jupyterlab @ file:///home/task_175812493204303/conda-bld/jupyterlab_1758124979512/work
jupyterlab_pygments @ file:///croot/jupyterlab_pygments_1741124142640/work
jupyterlab_server @ file:///croot/jupyterlab_server_1725865349919/work
jupyterlab_widgets @ file:///croot/jupyterlab_widgets_1752066547979/work
jxmlease==1.0.3
keras==3.12.0
kiwisolver @ file:///croot/kiwisolver_1737039087198/work
knack==0.12.0
kubernetes==34.1.0
libclang==18.1.1
looseversion==1.3.0
lxml==6.0.2
Mako @ file:///home/task_175827674840736/conda-bld/mako_1758276798086/work
Markdown @ file:///croot/markdown_1746114451035/work
markdown-it-py @ file:///croot/markdown-it-py_1684279902645/work
MarkupSafe==3.0.3
marshmallow==3.26.1
matplotlib==3.10.6
matplotlib-inline @ file:///home/task_175851935243965/conda-bld/matplotlib-inline_1758520102257/work
mdurl @ file:///home/task_175855217171549/conda-bld/mdurl_1758552186399/work
mistune==3.2.0
mkl-service==2.4.0
mkl_fft @ file:///io/mkl313/mkl_fft_1730824109137/work
mkl_random @ file:///io/mkl313/mkl_random_1730823916628/work
ml_dtypes @ file:///croot/ml_dtypes_1745327848793/work
mlflow==3.14.0
mlflow-skinny==3.14.0
mlflow-tracing==3.14.0
mlpack==4.6.0
mlxtend==0.23.4
mpi4py @ file:///croot/mpi4py_1749458488241/work
mplfinance==0.12.10b0
mpmath @ file:///croot/mpmath_1690848262763/work
msal==1.34.0
msal-extensions==1.3.1
msgpack==1.1.2
msrest==0.7.1
msrestazure==0.6.4.post1
multidict @ file:///home/task_176056679722681/conda-bld/multidict_1760566849732/work
multitasking==0.0.13
mypy-extensions==1.0.0
namex @ file:///croot/namex_1755731408686/work
narwhals==2.10.0
nbclient @ file:///croot/nbclient_1741123995822/work
nbconvert @ file:///croot/nbconvert-meta_1741184653315/work
nbformat @ file:///croot/nbformat_1728049424075/work
ncclient==0.7.0
ndg-httpsclient==0.5.1
nest-asyncio @ file:///croot/nest-asyncio_1708532673751/work
networkx @ file:///croot/networkx_1737039604450/work
nltk==3.9.2
nodeenv==1.9.1
notebook @ file:///croot/notebook_1756709302552/work
notebook_shim @ file:///croot/notebook-shim_1741707758683/work
numexpr @ file:///croot/numexpr_1752521720723/work
numpy==2.2.5
nvidia-nccl-cu12==2.28.7
oandapyV20==0.7.2
oauthlib==3.3.1
openai==2.44.0
openpyxl==3.1.5
opentelemetry-api @ file:///home/task_175853090325046/conda-bld/opentelemetry-api_1758530917475/work
opentelemetry-proto==1.38.0
opentelemetry-sdk @ file:///home/task_175871839738553/conda-bld/opentelemetry-sdk_1758718551420/work
opentelemetry-semantic-conventions @ file:///home/task_175854030011896/conda-bld/opentelemetry-semantic-conventions_1758540417191/work
opt-einsum @ file:///tmp/build/80754af9/opt_einsum_1621500238896/work
optree @ file:///croot/optree_1742210181724/work
overrides @ file:///croot/overrides_1699371140756/work
packaging==24.2
pandas==2.3.3
pandocfilters @ file:///home/task_175697776040858/conda-bld/pandocfilters_1756977776075/work
paramiko==4.0.0
parso @ file:///croot/parso_1733963305961/work
pathspec==0.12.1
pathvalidate==3.3.1
peewee==4.1.1
pexpect @ file:///croot/pexpect_1750072593878/work
pillow==11.3.0
pkginfo==1.12.1.2
platformdirs @ file:///croot/platformdirs_1744273042065/work
plotly==6.3.1
ply==3.11
pm2==1.0.0
pre_commit==4.3.0
prettytable==3.18.0
prometheus_client==0.24.1
prometheus_flask_exporter==0.23.2
prompt_toolkit @ file:///home/task_176037557820381/conda-bld/prompt-toolkit_1760375634618/work
propcache @ file:///croot/propcache_1744012718189/work
proto-plus==1.26.1
protobuf @ file:///croot/protobuf_1742419705443/work/bazel-bin/python/dist/protobuf-5.29.3-cp310-abi3-linux_x86_64.whl#sha256=e55acfd476c7a1d8544b98df45c7d8e9c425b9caf0abb1f7e7cfa87c2e017bd1
psutil @ file:///home/task_175710406307107/conda-bld/psutil_1757104540420/work
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure_eval @ file:///home/task_175706683913895/conda-bld/pure_eval_1757067047727/work
py-mini-racer==0.6.0
pyarrow==19.0.1
pyasn1 @ file:///croot/pyasn1_1729239786406/work
pyasn1_modules @ file:///croot/pyasn1-modules_1752042891371/work
pycares @ file:///croot/pycares_1756217929773/work
pycountry==24.6.1
pycparser==2.23
pydantic==2.13.4
pydantic_core==2.46.4
pydyf==0.12.1
pyez==0.1.1
Pygments @ file:///croot/pygments_1744664109463/work
PyJWT==2.10.1
PyMySQL==1.1.2
PyNaCl==1.6.2
pyOpenSSL @ file:///croot/pyopenssl_1741343803032/work
pyparsing==3.3.1
PyPDF2==3.0.1
pyphen==0.17.2
pyproject_hooks==1.2.0
PyQt5==5.15.10
PyQt5_sip @ file:///croot/pyqt-split_1736540531116/work/pyqt_sip
pyserial==3.5
pysftp==0.2.9
PySocks @ file:///home/builder/ci_310/pysocks_1640793678128/work
python-dateutil @ file:///croot/python-dateutil_1716495738603/work
python-docx==1.2.0
python-dotenv==1.2.1
python-json-logger @ file:///croot/python-json-logger_1734370021104/work
python-nmap==0.7.1
python-pptx==1.0.2
pytz @ file:///croot/pytz_1752135852232/work
PyYAML==6.0.3
pyzmq @ file:///home/task_175810350577126/conda-bld/pyzmq_1758103934957/work
qtconsole @ file:///home/task_175874872176578/conda-bld/qtconsole_1758748775754/work
QtPy @ file:///home/task_175753110414453/conda-bld/qtpy_1757531151288/work
referencing==0.36.2
regex==2025.11.3
reportlab==4.4.7
requests==2.32.5
requests-auth-aws-sigv4==0.7
requests-futures==1.0.2
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
resolvelib==1.0.1
rfc3339-validator @ file:///croot/rfc3339-validator_1683077044675/work
rfc3986-validator @ file:///croot/rfc3986-validator_1683058983515/work
rich @ file:///home/task_176037556537490/conda-bld/rich_1760375626503/work
rpds-py==0.27.1
rsa @ file:///tmp/build/80754af9/rsa_1614366226499/work
ruamel.yaml==0.18.10
ruamel.yaml.clib==0.2.12
s3transfer==0.14.0
schedule==1.2.2
scikit-learn @ file:///home/task_175861954415939/conda-bld/scikit-learn_1758619598212/work
scipy @ file:///croot/scipy_1747238027288/work/dist/scipy-1.15.3-cp310-cp310-linux_x86_64.whl#sha256=4055d6b52bbbfc19594ac7c25008889945de175e153afc0935b6415716fa348e
scp==0.15.0
seaborn @ file:///croot/seaborn_1749110291192/work
SecretStorage==3.4.0
semver==3.0.4
Send2Trash @ file:///croot/send2trash_1736540790175/work
simplejson==4.1.1
sip @ file:///croot/sip_1736541134699/work
six @ file:///croot/six_1744271502820/work
skops==0.14.0
smmap @ file:///croot/smmap_1752748938695/work
sniffio @ file:///croot/sniffio_1705431295498/work
soupsieve @ file:///croot/soupsieve_1696347547217/work
SQLAlchemy @ file:///croot/sqlalchemy_1756710012687/work
sqlparse @ file:///croot/sqlparse_1734704446487/work
stack_data @ file:///home/task_175706683891681/conda-bld/stack_data_1757067036413/work
starlette==0.48.0
subprocess-tee==0.4.2
sumy==0.11.0
sympy @ file:///croot/sympy_1756713465822/work
TA-Lib==0.7.0
tabulate==0.9.0
tacacs-plus==2.6
tenacity==9.1.2
tensorboard==2.20.0
tensorboard_data_server @ file:///croot/tensorboard-data-server_1724172556187/work/tensorboard_data_server-0.7.0-py3-none-manylinux2014_x86_64.whl#sha256=4428d660733184391dab7b6b6a953467b614b984df0cc1baf3d8c5d3d4ecf29d
tensorflow==2.20.0
termcolor @ file:///croot/termcolor_1668084651543/work
terminado @ file:///home/task_175793485177418/conda-bld/terminado_1757934866953/work
threadpoolctl @ file:///croot/threadpoolctl_1719407800858/work
tinycss2==1.5.1
tinyhtml5==2.1.0
tomli @ file:///croot/tomli_1753774587605/work
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
tornado @ file:///croot/tornado_1748956929273/work
tqdm==4.67.1
traitlets @ file:///croot/traitlets_1718227057033/work
transitions==0.9.3
treelib==1.8.0
tushare==1.4.29
typing-inspect==0.9.0
typing-inspection @ file:///home/task_176061351159976/conda-bld/typing-inspection_1760614166076/work
typing_extensions==4.15.0
tzdata @ file:///croot/python-tzdata_1746123641790/work
ucimlrepo==0.0.7
uri-template==1.3.0
urllib3==1.26.6
uvicorn @ file:///croot/uvicorn-split_1751615730076/work
uvloop @ file:///home/task_176156045924942/conda-bld/uvloop_1761560471181/work
virtualenv==20.35.3
wcmatch==10.0
wcwidth==0.8.1
weasyprint==68.1
webcolors==25.10.0
webencodings==0.5.1
websocket-client @ file:///croot/websocket-client_1715878298792/work
websockets==15.0.1
Werkzeug==3.1.4
widgetsnbextension @ file:///croot/widgetsnbextension_1733439572884/work
wrapt @ file:///croot/wrapt_1736540904746/work
xgboost==3.1.1
xlrd==2.0.2
xlsxwriter==3.2.9
xmltodict==1.0.2
yamllint==1.37.0
yamlordereddictloader==0.4.2
yarl @ file:///croot/yarl_1732546845924/work
yfinance==1.5.1
zipp==3.23.0
zopfli==0.4.1
